*.o
*.bak
*.crf
*._2i
*.d
*.bak
!/D1_UDP_newUI_newWifi_V2_ENG-ORIGIN/Projects/MDK-ARM/

/D1_UDP_newUI_newWifi_V2_ENG-ORIGIN/Projects/MDK-ARM/*
!/D1_UDP_newUI_newWifi_V2_ENG-ORIGIN/Projects/MDK-ARM/*.s
# !/D1_UDP_newUI_newWifi_V2_ENG-ORIGIN/Projects/MDK-ARM/*.uvoptx
!/D1_UDP_newUI_newWifi_V2_ENG-ORIGIN/Projects/MDK-ARM/*.uvprojx
*.TMP
